/* Write your CSS here */

.bg-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/random-no-generator-bg.png');
  background-size: cover;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: #ffffff;
  padding: 20px;
  box-shadow: 0px 4px 16px 0px #bfbfbf;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.heading {
  color: #0b69ff;
  font-size: 28px;
  font-family: Roboto;
  font-weight: 500;
}

.para-text {
  color: #333333;
  font-size: 20px;
  font-family: Roboto;
  font-weight: 400;
}

.button {
  background-color: #0b69ff;
  color: #ffffff;
  font-size: 18px;
  font-family: Roboto;
  padding: 10px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  outline: none;
}

.count {
  color: #0b69ff;
  font-size: 70px;
  font-family: Roboto;
  font-weight: 600;
}
